// para mi amor

// Base Sizes

// Colors
@darkBlue: #004B67;
@cerulean: #41CCB4;
@tan: #FFEA95;
@sandpaper: #FFC75D;
@red: #C70151;
@green: #8cc63f;
@charcoal: #222222;

// Defaults
body {
    font-family: 'Open Sans', sans-serif;
    border-top: 10px @green solid;
    color: @charcoal;
    background-image: url("../img/arches.png");
    background-repeat: repeat repeat;
}

// tldr; I am in love with this girl
#display {
    font-family: 'Miniver', cursive;
    text-align: center;
    font-size: 8rem;
    color: @red;

    span{
        &:hover {
            color: lighten(@red, 15%);
        }
    }
}

#gorgeous-girl {
    width: 100%;
}

.letter {
    //box-shadow: 0px 6px 7px 0 rgba(0,0,0,0.19);
}

strong {
    color: @red;
    font-weight: bold;
}

blockquote {
    color: @red;
    font-size: 24px;
}

#salutation {
    font-size: 5rem;
}

// Fun
.tldr {
    text-transform: uppercase;
    font-size: 5rem;
    color: @red;
}

aside {
    span {
        text-align: left;
        display: block;
        font-size: 4.1rem;
        &:hover {
            color: @green;
        }
    }
}

#corgis {
    width: 100%;
}
