// para mi amor

// Defaults
body {
    font-family: 'Open Sans', sans-serif;
}

// tldr; I fucking love this girl
#display {
    font-family: 'Miniver', cursive;
    text-align: center;
    font-size: 5rem;
}

#gorgeous-girl {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

