body {
  font-family: 'Open Sans', sans-serif;
  border-top: 5px #8cc63f solid;
}
#display {
  font-family: 'Miniver', cursive;
  text-align: center;
  font-size: 8rem;
  color: #C70151;
}
#display span:hover {
  color: #fe1774;
}
#gorgeous-girl {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
strong {
  color: #004B67;
}
blockquote {
  color: #41CCB4;
}
